{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="d-flex align-items-center py-4 justify-content-evenly "
    <div class="row">
        <div class="form-signin col-12 col-md-6 m-auto">        
            <form method="post" class="bg-body-tertiary p-3">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" value="{{ last_username }}"  name="_username" id="username" {#  id="floatingInput" #} autocomplete="email" required autofocus placeholder="nom@exemple.com">
                        <label for="username">
                            <font style="vertical-align: inherit;">Adresse email</font>
                        </label>
                </div>
                <div class="form-floating my-2">
                    <input type="password" name="_password" class="form-control" id="floatingPassword" autocomplete="current-password" required placeholder="Mot de passe">
                    <label for="floatingPassword"><font style="vertical-align: inherit;">Mot de passe</font></label>
                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="connect text-center">
                    <button class="btn btn-primary w-100 my-2" type="submit">Se connecter</button>
                    <a href="{{ path('app_register') }}"  class="btn btn-link px-2 mt-2">Créér un compte</a>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}