{% extends 'base.html.twig' %}

{% block title %}Ecoride-Accueil{% endblock %}

{% block body %}
<div>
    {% if app.user and not (is_granted("ROLE_ADMIN") or is_granted("ROLE_EMPLOYE")) %}
        <h3 class="ps-5 text-center text-md-start m-4 ">Bonjour <span>{{app.user.prenom|capitalize}}</span>, commencez votre voyage ici!</h3>
    {# {% elseif app.user %}
    <h3 class="ps-5 text-center text-md-start m-4 ">Bonjour <span>{{app.user.prenom|capitalize}} {{app.user.nom|capitalize}}</span>,vous êtes connecté.</h3> #}
    {% endif %}
        <hr>
    <!--Barre de recherche -->
    <h4 class="text-center">Rechercher un voyage</h4>
    <form method="get" action="{{ path('app_covoiturage_recherche') }}" class="d-flex bg-body-tertiary justify-content-around align-items-center flex-column flex-lg-row">
        <div class="d-flex align-items-center p-2 mb-2 "role="search" aria-label="date">
            <i class="bi bi-calendar-event icon-hover px-2"></i>
            <input name="date" type="date" class="form-control" placeholder="Date" aria-label="date">
        </div>
        <div class=" d-flex align-items-center p-2 mb-2 " role="search" action="submit" aria-label="depart">
            <i class="bi bi-geo-alt icon-hover px-2"></i>
            <input name="depart"type="search" class="form-control" placeholder="Ville de départ" aria-label="depart">
        </div>
        <div class="d-flex align-items-center p-2 mb-2" role="search" aria-label="arrivee">
            <i class="bi bi-geo-alt icon-hover px-2"></i>
            <input name="arrivee" type="search" class="form-control" placeholder="Ville d'arrivée" aria-label="arrivee" >
        </div>
        <div class="d-flex align-items-center p-2 mb-2 " role="search"  aria-label="prix" >
            <i class="bi bi-currency-euro icon-hover px-2"></i>
            <input name="prix" type="search" class="form-control" placeholder="Prix max" aria-label="Prix max">
        </div>
        <button type="submit" class="btn p-0 mx-3">
            <i class="bi bi-search icon-hover "></i></button>
    </form>
    <hr>
    <!-- Hero -->
    <div class="container py-4">
        <div class="row align-items-center text-center text-lg-start">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0 d-flex justify-content-center">
                <img class="img-fluid" src="{{ asset('logo/covoiturage.png') }}" alt="ecoRide" width-max="580" height="auto">
            </div>
            <div class="col-12 col-lg-6 text-center">
                <p class="lead mb-4">
                <span>Réinventez vos trajets avec Ecoride</span> <br>
                Et si chaque voyage comptait pour la planète ?<br>
                Avec<span> Ecoride</span>, vous avez la liberté de choisir des <span>véhicules écologiques – hybrides ou 100% électriques</span> – pour vos covoiturages. 
                <br>C’est simple, pratique et bon pour l’environnement.
                <br><span>Moins d’émissions, plus d’impact positif.</span><br>
                En un clic, vous contribuez à une mobilité durable tout en partageant vos trajets avec d’autres voyageurs engagés.<br>
                <span>Faites le choix d’un avenir plus vert, un trajet à la fois.</span></p>
                <div class="d-grid gap-2 d-sm-flex justify-content-center ">
                    <a href="{{path('app_covoiturage_recherche')}}" class="btn btn-outline-success btn-lg">Rechercher un voyage</a>
                    <a href="{{path('app_covoiturage_new')}}" class="btn btn-outline-success btn-lg"> Créer un voyage</a>
                </div>
            </div>
        </div>
    </div>
    <!--DERNIERS AVIS -->
    {# <div class="dernier_avis">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for comment in avis %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.rateComments}} / 5 </h5>
                            <p class="card-text">{{ comment.comments}}</p>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> #}
    {# <div class="container my-4">
        <div class="d-flex overflow-auto gap-3 py-2">
            {% for comment in avis %}
            <div class="card flex-shrink-0" style="min-width: 250px;">
                <div class="card-body">
                    <p class="card-text">{{ comment.comments}} </p>
                    <footer class=" mt-2">{{ comment.rateComments}} / 5 </footer>
                </div>
            </div>
            {% endfor %}
    </div> #}

    {# test #}
   {#  <div class="container my-5 position-relative">
    <!-- Flèche gauche -->
    <button id="scrollLeft" class="btn btn-light position-absolute top-50 start-0 translate-middle-y z-1">
        &#8249;
    </button>

    <!-- Conteneur scrollable -->

    <div id="cardContainer" class="d-flex overflow-auto gap-3 py-3 px-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for comment in avis %}
            <div class="card col" >
                <div class="card-body">
                    <p class="card-text text-wrap">{{ comment.comments}}</p>
                    <p class="">{{ comment.rateComments}} / 5</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Flèche droite -->
    <button id="scrollRight" class="btn btn-light position-absolute top-50 end-0 translate-middle-y z-1">
        &#8250;
    </button>
    </div> #}

</div>
{% endblock %}
