{% extends 'base.html.twig' %}

{% block title %}Ecoride-Accueil{% endblock %}

{% block body %}
{% if app.user %}
<h3 class="ps-5 ">Bonjour <span>{{app.user.prenom}}</span>, commencez votre voyage ici!</h3>
{% endif %}
<hr>
    <!--Barre de recherche -->
    <h4 class="text-center">Rechercher un voyage</h4>
    <form method="get" action="{{ path('app_covoiturage_recherche') }}" class="d-flex bg-body-tertiary justify-content-around align-items-center flex-wrap">
        <div class="d-flex align-items-center p-2 mb-2 "role="search" aria-label="date">
            <i class="bi bi-calendar-event icon-hover px-2"></i>
            <input name="date" type="date" class="form-control" placeholder="Date" aria-label="date">
        </div>
        <div class=" d-flex align-items-center p-2 mb-2 " role="search" action="submit" aria-label="depart">
            <i class="bi bi-geo-alt icon-hover px-2"></i>
            <input name="depart"type="search" class="form-control" placeholder="Ville de départ" aria-label="depart">
        </div>
        <div class="d-flex align-items-center p-2 mb-2" role="search" aria-label="arrivee">
            <i class="bi bi-geo-alt icon-hover px-2"></i>
            <input name="arrivee" type="search" class="form-control" placeholder="Ville d'arrivée" aria-label="arrivee" >
        </div>
        <div class="d-flex align-items-center p-2 mb-2 " role="search"  aria-label="prix" >
            <i class="bi bi-currency-euro icon-hover px-2"></i>
            <input name="prix" type="search" class="form-control" placeholder="Prix max" aria-label="Prix max">
        </div>
        <button type="submit" class="btn p-0 mx-3">
            <i class="bi bi-search icon-hover "></i></button>
    </form>
<hr>
    <!-- Hero -->
    <div class="px-4 py-5 text-center d-flex align-items-center">
        <img class="d-block mx-auto mb-4" src="{{ asset('logo/covoiturage.png') }}" alt="" width="580" height="400">
        <div class="col-lg-6 mx-auto align-items-center">
            <p class="lead mb-4">Concevez et personnalisez rapidement des sites mobiles réactifs avec Bootstrap, la boîte à outils open source front-end la plus populaire au monde, comprenant des variables et des mixins Sass, un système de grille réactif, de nombreux composants prédéfinis et de puissants plugins JavaScript.</font></font></p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a type="button" href="{{path('app_covoiturage_recherche')}}" class="btn btn-outline-secondary btn-lg px-4">Rechercher un voyage</a>
                <a type="button" href="{{path('app_covoiturage_new')}}" class="btn btn-outline-secondary btn-lg px-4"> Créer un voyage</a>
            </div>
        </div>
    </div>
{% endblock %}
