{% extends 'base.html.twig' %}

{% block title %}Covoiturage en détail{% endblock %}

{% block body %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href= "{{ path('app_employe_dashboard') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href= "{{ path('app_avis') }}">Liste des avis</a></li>
        <li class="breadcrumb-item active" aria-current="page">Avis</li>
      </ol>
    </nav>
    <div>
      <a class="btn btn-success mx-4 d-none d-md-display" href= "{{ path('app_employe_dashboard') }}" >Retour</a>
      <p class="text-center fw-bold">Voyage effectué le <span>{{ covoiturage.dateDepart|date('d-m-Y') }}</span> à <span> {{ covoiturage.heureDepart|date('H:i') }}</span>
      au départ de <span> {{ covoiturage.lieuDepart }}</span> .</p>
    </div>
    <div class="card mb-4 shadow-sm ">
      <div class="text-secondary d-flex justify-content-between">
        <div class="ps-3">Le {{ covoiturage.dateDepart|date('d-m-Y') }}</div>
        <div class="pe-3">Réf: 00{{ covoiturage.id }}</div>
      </div>
      <div class="voyage container-fluid">
        <div class="itineraire">
          <div class="itineraire d-flex justify-content-evenly align-items-center">
            <div class="depart d-flex flex-column text-center">
              <div class="fs-3 fw-bold">
                {{ covoiturage.heureDepart|date('H:i') }}
              </div>
              <div class="fs-3 fw-bold">
                {{ covoiturage.lieuDepart }}
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <svg  viewBox="0 0 400 100" class="w-100 h-auto" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                <!-- Premier cercle -->
                <circle cx="30" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
                <!-- Ligne -->
                <line x1="50" y1="50" x2="350" y2="50" stroke="#39B54E" stroke-width="2" />
                <!-- Deuxième cercle -->
                <circle cx="370" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
              </svg>
            </div>
            <div class="arrivée d-flex flex-column text-center">
                <div class="fs-3 fw-bold">
                {{ covoiturage.heureArrivee|date('H:i') }}
                </div>
                <div class="fs-3 fw-bold">
                {{ covoiturage.lieuArrivee }}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profil passager card mb-4 shadow-sm" >
      <div class="card-header d-flex justify-content-evenly align-items-center ">
        <img src="{{ asset('download/'~ passager.photoPath) }}" class=" img-fluid avatar rounded-circle" alt="avatar">
        <div class="flex-grow-1 text-center">
          <h3 class="passagerInfo">Passager:<br> {{passager.pseudo|capitalize}}</h3>
          <p class="email">Email : {{passager.email}}</p>
        </div>
        <div class="infoUser d-flex align-items-center flex-column justify-content-end" >
              <p class="text-center">Membre depuis<br> {{ passager.createdAt | date ('Y')}} </p>
              <p><i class="bi bi-star-fill star"> {{ rateUser }}/5</i></p>
          </div>
      </div>
    </div>
    <div class="profil conducteur card mb-4 shadow-sm " >
      <div class="card-header d-flex justify-content-evenly align-items-center">
        <img src="{{ asset('download/'~ conducteur.photoPath) }}" class="img-fluid avatar rounded-circle" alt="avatar">
        <div class="flex-grow-1 text-center">
          <h3 class="conducteurInfo">Conducteur :<br> {{conducteur.pseudo|capitalize}}</h3>
          <p class="email">Email : {{conducteur.email}}</p>
        </div>
        <div class="infoUser d-flex align-items-center flex-column justify-content-end" >
              <p class="text-center">Membre depuis <br> {{ conducteur.createdAt | date ('Y')}} </p>
              <p>
                <i class="bi bi-star-fill star"> {{ rateUser }}/5</i>
              </p>
        </div>
      </div>
      <!-- body -->
      <div class="card-body">
        <div class="d-flex justify-content-around ">
          <div class="commentaires flex-grow-1">
            {% if commentaires is empty %}
              <p>Il n'y a pas d'avis.</p>
              {% else %}
              <h4 class="text-decoration-underline text-center"> Avis:</h4>
              {% for commentaire in commentaires %}
              <div class="card commentaire mb-3 p-3">
                <div class="text-secondary fs-7">Le {{ commentaire.createdAt|date('d-m-Y') }}
                </div>
                <div class="rate">
                  <i class="bi bi-star-fill star"> {{ commentaire.rateComments }}/5</i>
                </div>
                <div>
                  <p>{{ commentaire.comments }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}