{% extends 'base.html.twig' %}

{% block title %}Avis en détail{% endblock %}

{% block body %}
{% if is_granted('ROLE_EMPLOYE')%}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href= "{{ path('app_employe_dashboard') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href= "{{ path('app_avis') }}">Liste des avis</a></li>
        <li class="breadcrumb-item active" aria-current="page">Avis</li>
      </ol>
    </nav>
    <div>
      <a class="btn btn-success mx-4 d-none d-md-display" href= "{{ path('app_employe_dashboard') }}" >Retour</a>
      <p class="text-center fw-bold">Voyage effectué le <span>{{ covoiturage.dateDepart|date('d-m-Y') }}</span> à <span> {{ covoiturage.heureDepart|date('H:i') }}</span>
      au départ de <span> {{ covoiturage.lieuDepart|capitalize }}</span> .</p>
    </div>
    <div class="card mb-4 shadow-sm ">
      <div class="text-secondary d-flex justify-content-between">
        <div class="ps-3">Le {{ covoiturage.dateDepart|date('d-m-Y') }}</div>
        <div class="pe-3">Réf: {{ covoiturage.id }}</div>
      </div>
      {# Voyage #}
      <div class="voyage container-fluid">
        <div class="itineraire">
          <div class="itineraire d-flex justify-content-evenly align-items-center">
            <div class="depart d-flex flex-column text-center">
              <div class="fs-3 fw-bold">
                {{ covoiturage.heureDepart|date('H:i') }}
              </div>
              <div class="fs-3 fw-bold">
                {{ covoiturage.lieuDepart|capitalize }}
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <svg  viewBox="0 0 400 100" class="w-100 h-auto" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                <!-- Premier cercle -->
                <circle cx="30" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
                <!-- Ligne -->
                <line x1="50" y1="50" x2="350" y2="50" stroke="#39B54E" stroke-width="2" />
                <!-- Deuxième cercle -->
                <circle cx="370" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
              </svg>
            </div>
            <div class="arrivée d-flex flex-column text-center">
                <div class="fs-3 fw-bold">
                {{ covoiturage.heureArrivee|date('H:i') }}
                </div>
                <div class="fs-3 fw-bold">
                {{ covoiturage.lieuArrivee|capitalize }}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# Fiche passager #}
    <div class="profil passager card mb-4 shadow-sm" >
      <div class="card-header d-flex justify-content-evenly align-items-center ">
        <a href="{{ path('app_profil',{'id': passager.id}) }}"><img src="{{ vich_uploader_asset(passager, 'imageFile') }}" class=" img-fluid avatar rounded-circle" alt="avatar"></a>
        <div class="flex-grow-1 text-center">
          <h3 class="passagerInfo">Avis déposé par: {{passager.pseudo|capitalize}}</h3>
          <p class="email">Email : {{passager.email}}</p>
        </div>
        <div class="infoUser d-flex align-items-center flex-column justify-content-end" >
          <p class="text-center">Membre depuis<br> {{ passager.createdAt | date ('Y')}} </p>
          {% if avisExiste == true %}
                            <p><i class="bi bi-star-fill star">  {{ rateUser }}/5</i></p>
                            {% else %}
                            <p> Il n'y a pas de note.</p>
                            {% endif %}
          {# <p><i class="bi bi-star-fill star"> {{ rateUser }}/5</i></p> #}
        </div>
      </div>
      <form method="POST"  id="avisFormAvis" action="{{ path('app_avis_update') }}">
      <div class="card-body">
        <div class="d-flex justify-content-around ">
          <div class="commentaires d-flex justify-content-around align-items-center flex-grow-1">
            <div class=" commentaire mb-3 p-3">
              <div class="text-secondary fs-7">Le {{ avis.createdAt|date('d-m-Y') }}
              </div>
              <div class="rate">
                <i class="bi bi-star-fill star"> {{ avis.rateComments }}/5</i>
              </div>
            </div>
            <div class="comments">
              <p>{{ avis.comments }}</p>
            </div>
            <div class="d-flex flex-column align-items-center" data-controller ="sweet-alert">
              <p class='text-decoration-underline mb-0 text-secondary fs-7'>Valider l'avis:</p>
              <div class="form-check form-switch m-2" data-controller ="sweet-alert" >
                <input class="form-check-input" data-bs-toggle="tooltip" data-bs-placement="top" title="Valider l'avis" type="checkbox" role="switch" name="isValid[]" value="{{ avis.id }}" id="isValid_{{ avis.id }}"  >
                <label class="form-check-label" for="isValid_{{ avis.id }}"></label>
              </div> 
              <button type="submit" id="validateButton" 
                class="btn btn-success p-2 m-2" data-bs-toggle="tooltip" 
                data-bs-placement="top" title="Valider l'avis" data-action = "click->sweet-alert#setupValidation">
                Valider l'avis
              </button>
              <div>
                <a class="btn btn-danger" name="removeAvis" id=" removeAvisButton{# trash_{{ avis.id }} #}" 
                  data-url="{{ path('app_avis_remove', {'id': avis.id}) }}"  
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer l'avis"
                  data-action = "click->sweet-alert#removeAvisButton">
                  <i class="bi bi-trash3"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
    {# Fiche conducteur #}
    <div class="profil conducteur card mb-4 shadow-sm " >
      <div class="card-header d-flex justify-content-evenly align-items-center">
        <img src="{{ vich_uploader_asset(conducteur, 'imageFile') }}" class="img-fluid avatar rounded-circle" alt="avatar">
        <div class="flex-grow-1 text-center">
          <h3 class="conducteurInfo">Conducteur : {{conducteur.pseudo|capitalize}}</h3>
          <p class="email">Email : {{conducteur.email}}</p>
        </div>
        <div class="infoUser d-flex align-items-center flex-column justify-content-end" >
              <p class="text-center">Membre depuis <br> {{ conducteur.createdAt | date ('Y')}} </p>
              {% if avisExiste == true %}
                            <p><i class="bi bi-star-fill star">  {{ rateUser }}/5</i></p>
                            {% else %}
                            <p> Il n'y a pas de note.</p>
                            {% endif %}
              {#  <p>
                <i class="bi bi-star-fill star"> {{ rateUser }}/5</i>
              </p> #}
        </div>
      </div>
      <!-- body -->
      <div class="card-body">
        <div class="d-flex justify-content-around ">
          <div class="commentaires flex-grow-1">
            {% for commentaire in commentaires %}
              {# {% if commentaire.isvalid ==false or commentaire is empty %}
              <p class="text-center">Il n'y a pas d'avis.</p> #}
              {% if commentaire.isValid == true %}
              <h4 class="text-decoration-underline text-center"> Avis:</h4>
              {# {% if commentaire.isValid == true %} #}
              <div class="card commentaire mb-3 p-3">
                <div class="text-secondary fs-7">Le {{ commentaire.createdAt|date('d-m-Y') }}
                </div>
                <div class="rate">
                  <i class="bi bi-star-fill star"> {{ commentaire.rateComments }}/5</i>
                </div>
                <div>
                  <p>{{ commentaire.comments }}</p>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            {# {% endif %} #}
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
    <div class="alert  alert-danger" role="alert">
    Vous n'avez pas accès à cette page.
    </div>
{% endif %}
{% endblock %}