{% extends 'base.html.twig' %}

{% block title %}Avis à traiter{% endblock %}

{% block body %}
<div class="container mb-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href= "{{ path('app_employe_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Liste des signalements</li>
        </ol>
    </nav>
    <div class="avis row mx-4">
        <div class="signalement">
        <a class="btn btn-success mb-3" href= "{{path('app_employe_dashboard')}}" >Retour</a>
        {% if signalComments is empty %}
            <h5 class="text-decoration-underline text-center"> Gestion des signalements:</h5>
            <p class="text-center">Il n'y a pas de signalements.</p>
            {% else %}
            <h5 class="text-decoration-underline text-center"> Gestion des signalements:</h5>
            <form method="post"  id="avisFormSignalement" action="{{ path('app_avis_update') }}">
            {% for signalComment in signalComments %}
            <div class="card mb-3 p-3">
                <div class="rate d-flex align-items-center justify-content-between">
                <i class="bi bi-star-fill star"> {{ signalComment.rateComments }}/5</i>
                </div>
                <div class="text-secondary fs-7">Le {{ signalComment.createdAt|date('d-m-Y') }}
                </div>
                <div>
                <p class="text-truncate">{{ signalComment.comments }}</p>
                </div>
                <div class=" btnsignal d-flex justify-content-between align-items-end">
                <div class="btnDetails">
                    <a class="btn btn-success" href= "{{path('app_avis_detail',{ 'id':signalComment.id }) }}"> Détails</a>
                </div>
                <div class=" btnCheckRemove d-flex flex-column align-items-center ">
                    <div class="form-check form-switch m-2  ">
                    <input class="form-check-input" data-bs-toggle="tooltip" data-bs-placement="top" title="Valider l'avis" type="checkbox" role="switch" name="isValid[]" value="{{ signalComment.id }}" id="isValid_{{ signalComment.id }}"  >
                    <label class="form-check-label" for="isValid_{{ signalComment.id }}"></label>
                    </div> 
                    <a class="btn btn-danger" name="removeAvis" id="removeAvis" data-url="{{ path('app_avis_remove', {'id': signalComment.id}) }}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer l'avis">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
                </div>
            </div>
            <div>
                <button type="submit" id="avisValidateSignalement" class="btn btn-success">Valider les signalements</button>
            </div > 
            {% endfor %}
            </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
