{% extends 'base.html.twig' %}

{% block title %}Ajouter un avis{% endblock %}

{% block body %}
<div class="container ">
    <h1 class="text-center p-4">Ajout d'avis</h1>
    <div class="row f-column">
        <div class="form-group col-12 col-md-6 m-auto">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_row(form.comments, {
                'label':' ',
                'attr': {
                    'class': 'form-control mb-3 ',
                    'placeholder':'Votre commentaire' ,
                    'aria-label':'Votre commentaire',
                    'rows': 6
                }
            }) }}

            {{ form_row(form.rateComments, {
                'label':' ',
                'attr': {
                    'class': 'form-control mb-3',
                    'placeholder':'Votre note' ,
                    'aria-label':'Votre note',
                }
            }) }}

            <div class="d-flex justify-content-evenly p-4">
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <a class="btn btn-secondary" href="{{ path('app_profil') }}">Retour</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}