
{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href= "{{ path('app_home') }}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profil {{utilisateur.pseudo }}</li>
    </ol>
  </nav>
  {# Page profil #}
  <div class="page-profil d-flex flex-column align-items-center justify-content-center w-100 ">
    {% if id is defined and id > 0 %}
      <div class="card container m-4 profil" >
        <div class="card-header row justify-content-evenly align-items-center">
          {% if utilisateur.photoPath is not empty %}
            <div class="col-2 p-2">
                <a href="{{ path('app_profil',{'id': utilisateur.id}) }}"><img class="icon-hover rounded-circle" src="{{asset('download/' ~ utilisateur.photoPath) }}" alt="" width="64" height="64" ></a>
            </div>
            {% else %}
            <div class="col-2 p-2">
                <a href="{{ path('app_profil') }}"><i class="bi bi-person-circle icon-hover" alt="mail Icon" width="32" height="32"> </i></a>
            </div>
          {% endif %}
          {# <img src="{{ asset('download/'~ utilisateur.photoPath) }}" class=" col-1 avatar rounded-circle" alt="..."> #}
          <div class="col-10 text-center">
            <h3 class="card-title text-center">Mon profil</h3>
            <h3 class="card-text text-center">{{utilisateur.prenom|capitalize}}</h3>
            <p class="card-text text-center text-secondary fs-6">Crédits: {{utilisateur.credits}}</p>
          </div>
        </div>
        <!-- body -->
        <div class="card-body p-0">
          <div class="row justify-content-around ">
            <div class="infoUser col-md-6 col-12" >
              <ul>
                <li>Membre depuis {{ utilisateur.createdAt | date ('Y')}} </li>
              {% if utilisateur.isConducteur == 1 and utilisateur.isPassager == 0 %}
                <li>Conducteur</li>
              {% elseif utilisateur.isConducteur == 1 and utilisateur.isPassager ==  1 %}
                <li>Conducteur et passager</li>
              {% elseif utilisateur.isConducteur == 0 and utilisateur.isPassager ==  1 %}
                <li>Passager</li>
              {% endif %}

                {% if rate > 0 %}
                  <li>
                    <i class="bi bi-star-fill star"> {{rate}}/5</i>
                  </li>
                {% endif %}
                <br>
                <!--voiture-->
                {% if voitureUser is not null %}
                  <hr>
                  {% for voiture in voitureUser %}
                  <li>Mon véhicule: {{ voiture.constructeur|capitalize }} {{ voiture.modele|capitalize }}</li>
                  <li>Immatriculé: {{ voiture.immat }} </li>
                  <li>Date de 1ère mise en circulation: {{ voiture.firstImmat|date('d-m-Y') }} </li>
                  <li>Place disponible: {{ voiture.nbrePlace }} </li>
                  {% endfor %}
                  {% else %}
                  <hr>
                  <li>Pas de véhicule enregistré.</li>
                {% endif %}
              </ul>
              <!--observations-->
                <hr>
                {% if utilisateur.observation > 0 %}
                  <p class="text-center text-decoration-underline"> Autre commentaire :</p>
                  {% for observation in observations %}
                    <p class="text-start">{{ observation}}</p>
                  {% endfor %}
                  {% else %}
                  <p>Il n'y a pas de d'observations</p>
                {% endif %}
            </div>
            <!--avis-->
            <div class="avis col-6">
              {% if commentairesUSer is empty %}
                <p class="text-center">Il n'y a pas d'avis.</p>
                {% else %}
                <h4 class="text-decoration-underline text-center"> Derniers avis clients:</h4>
                {% for commentaire in commentairesUSer %}
                {% if commentaire.isValid == true %}
                <div class="card mb-3 p-3">
                  <div class="rate">
                    <i class="bi bi-star-fill star"> {{ commentaire.rateComments }}/5</i>
                  </div>
                  <div class="text-secondary fs-7">Le {{ commentaire.createdAt|date('d-m-Y') }}
                  </div>
                  <div>
                    <p>{{ commentaire.comments }}</p>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% elseif app.user is empty%}
      <p>Aucun profil identifié</p>
    {% else %}
    <div class="card container m-4 profil" >
      <div class="card-header row justify-content-evenly align-items-center">
      {% if app.user.photoPath is not empty %}
        <div class="col-2 p-2">
          <a href="{{ path('app_profil') }}">
          <img class=" avatar rounded-circle" src="{{asset('download/' ~ app.user.photoPath) }}" alt="" width="32" height="32" ></a>
        </div>
        {% else %}
        <div class="col-2 p-2">
          <a href="{{ path('app_profil') }}">
          <i class="avatar bi bi-person-circle " alt="mail Icon" > </i></a>
        </div>
        {% endif %}
        {# <img src="{{ asset('download/'~ app.user.photoPath) }}" class=" col-1 avatar rounded-circle" alt="..."> #}
        <div class="col-10 text-center">
          <h3 class="card-title text-center">Mon profil</h3>
          <h3 class="card-text text-center">{{app.user.prenom|capitalize}}</h3>
          <p class="card-text text-center text-secondary fs-6">Crédits: {{app.user.credits}}</p>
        </div>
      </div>
      <!-- body -->
      <div class="card-body p-0">
        <div class="row justify-content-around ">
          <div class="infoUser col-6" >
            <ul>
              <li>Membre depuis {{ app.user.createdAt | date ('Y')}}  </li>
              
            {% if app.user.isConducteur == 1 and app.user.isPassager == 0 %}
              <li>Conducteur</li>
            {% elseif app.user.isConducteur == 1 and app.user.isPassager ==  1%}
              <li>Conducteur et passager</li>
            {% elseif app.user.isConducteur == 0 and app.user.isPassager ==  1%}
              <li>Passager</li>
            {% endif %}
              
              {% if app.user and rate > 0 %}
              <li>
              <i class="bi bi-star-fill star"> {{rate}}/5</i>
              </li>
              {% endif %}
              </ul>

              <!--Voiture-->
              {% if voitureUser is not null %}
                {% for voiture in voitureUser %}
                <hr>
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                <ul>
                <li>Mon véhicule: {{ voiture.constructeur|capitalize }} {{ voiture.modele|capitalize }}</li>
                <li>Immatriculé: {{ voiture.immat }} </li>
                <li>Date de 1ère mise en circulation: {{ voiture.firstImmat|date('d-m-Y') }} </li>
                <li>Place disponible: {{ voiture.nbrePlace }} </li></ul>
                <a href="{{path('app_voiture_update',{id: voiture.id}) }}" class="btn btn-success">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-danger" href="{{ path('app_voiture_remove', { 'id': voiture.id }) }}">
                  <i class="bi bi-trash3"></i>
                </a>
                </div>
                {% endfor %}
                <a href="{{path('app_voiture_new')}}">Ajouter un véhicule</a>
              {% else %}
              <hr>
              <p>Pas de véhicule enregistré.</p>
              {% endif %}

              <!-- observations-->
            <hr>
            {% if utilisateur.observation > 0 %}
                <p class="text-start text-decoration-underline"> Autre commentaire :</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap"> 
                  <ul>
                  {% for observation in observations %}
                    <li class="text-start">{{ observation}}</li>
                    {% endfor %}
                  </ul>
                  <a href="{{ path('app_profil_update',{id: app.user.id})}}" class="btn btn-success">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                </div>
              {% else %}
                <a href="{{ path('app_profil_update',{id: app.user.id}) }}">Ajouter des informations</a>
            {% endif %}
          </div>

          <!--avis-->
            <div class="avis col-6">
              {% if commentairesUSer is empty %}
                <p>Il n'y a pas encore d'avis.</p>
                {% else %}
                <h4 class="text-decoration-underline text-center"> Derniers avis clients:</h4>
              {% for commentaire in commentairesUSer %}
              {% if commentaire.isValid == true %}
              <div class="card mb-3 p-3">
                <div class="rate">
                  <i class="bi bi-star-fill star"> {{ commentaire.rateComments }}/5</i>
                </div>
                <div class="text-secondary fs-7">Le {{ commentaire.createdAt|date('d-m-Y') }}
                </div>
                <div>
                  <p>{{ commentaire.comments }}</p>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!--voyages-->
    <div class="MesVoyages col-12 p-4">
    {% if covoiturages is empty %}
        <p class="text-center">Il n'y a pas de voyage pour lequel vous participez.</p>
        {% if utilisateur.isConducteur == true or (app.user and app.user.isConducteur == true)  %}
          <a href="{{path('app_covoiturage_new')}}" class="text-center">Créer un voyage</a>
        {% endif %}
      {% else %}
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h4 class="text-decoration-underline"> Mes voyages: </h4>
        {% if utilisateur.isConducteur == true or (app.user and app.user.isConducteur == true)  %}
          <div class="d-flex container p-2 align-items-center">
            <i class="bi bi-plus-circle icon-hover" alt="plus Icon" width="32" height="32" class="rounded-circle"></i> 
            <a href="{{ path('app_covoiturage_new') }}" class="icon-hover px-2">Publier un voyage</a>
          </div>
        {% endif %}
        {% for covoiturage in covoiturages %}
        <div class="card container m-4 ">
          <div class="voyage text-decoration-underline text-secondary ">
            <a  href="{{path('app_covoiturage_id',{'id': covoiturage.id}) }}">Le {{ covoiturage.dateDepart|date('d-m-Y') }}</a>
          </div>
          <span>Prix: {{ covoiturage.prix }} € </span>
          <div class="voyage container">
              <div class="row">
                {% if covoiturage.conducteur %}
                <div class="d-flex align-items-center justify-content-around  ">
                  <div class="conducteur d-flex justify-content-center flex-column align-items-center p-2">
                    <p class="text-decoration-underline m-0">Conducteur:</p>
                    {% if covoiturage.conducteur.photoPath  is not empty %}
                    <a href="{{ path('app_profil_id', {'id': covoiturage.conducteur.id}) }}"><img class="icon-hover rounded-circle" src="{{asset('download/' ~ covoiturage.conducteur.photoPath) }}" alt="mail Icon" width="64" height="64" ></a>
                    {% else %}
                    <a href="{{ path('app_profil') }}"><i class="bi bi-person-circle icon-hover" alt="mail Icon" width="32" height="32"> </i></a>
                    {% endif %}
                  </div>
                    {# Bouton validation voyage #}
                {% if  covoiturage.id is not null 
                  and covoiturage.conducteur.id != app.user.id   
                  and utilisateur.id == app.user.id  
                  and covoiturage.isArrived
                  and not isValidateUser %}
                  <div class="boutons d-flex flex-column align-items-center text-decoration-underline ">
                    <p class="m-0">Valider votre voyage:</p>
                    <a  id='validate' 
                    class="btn btn-success m-2" 
                    {# href="{{ path('app_covoiturage_validate', { 'id': covoiturage.id }) }}" #} 
                    data-url ="{{ path('app_covoiturage_validate', { 'id': covoiturage.id }) }}">
                      <i class="bi bi-check-lg"></i>
                    </a>
                  </div>
                {% endif %}
                  {# <div>
                  <p>covoiturage.id : {{ covoiturage.id }}</p>
                  <p>covoiturage.conducteur.id : {{ covoiturage.conducteur.id }}</p>
                  <p>app.user.id : {{ app.user.id }}</p>
                  <p>utilisateur.id : {{ utilisateur.id }}</p>
                  <p>isArrived : {{ covoiturage.isArrived ? 'true' : 'false'  }}</p>
                  <p>isValidateUser : {{ isValidateUser ? 'true' : 'false' }}</p>
                  <p>avisUserExiste : {{ avisUserExiste ? 'true' : 'false' }}</p>
                  <p>signalComment : {{ signalComment ? 'true' : 'false' }}</p>
                </div> #}
                {% if  covoiturage.id is not null 
                  and covoiturage.conducteur.id != app.user.id 
                  and utilisateur.id == app.user.id  
                  and covoiturage.isArrived 
                  and isValidateUser
                  and not avisUserExiste
                  %}                    
                  <div class="boutons d-flex flex-column align-items-center text-decoration-underline ">
                    <p class="m-0">Laisser un avis</p>
                    <a  id='checkAvis' class="btn btn-success m-2" 
                    {# href="{{ path('app_covoiturage_validate', { 'id': covoiturage.id }) }}" #} 
                    data-url ="{{ path('app_avis_new',{ 'id': covoiturage.id }) }}">
                      <i class="bi bi-check-lg"></i>
                    </a>
                  </div>
                  <div class="boutons d-flex flex-column align-items-center text-decoration-underline ">
                    <p class="m-0">Signaler un covoiturage</p>
                    <a  id='signaler' class="btn btn-danger m-2" 
                    {# href="{{ path('app_covoiturage_validate', { 'id': covoiturage.id }) }}" #} 
                    data-url ="{{ path('app_avis_signaler',{ 'id': covoiturage.id }) }}" >
                      <i class="bi bi-exclamation-triangle-fill"></i>
                    </a>
                  </div>
                {% endif %}
                {% if  covoiturage.id is not null 
                  and covoiturage.conducteur.id != app.user.id 
                  and utilisateur.id == app.user.id  
                  and covoiturage.isArrived 
                  and isValidateUser
                  and  avisUserExiste 
                  %}                    
                  <div class="boutons d-flex flex-column align-items-center text-decoration-underline ">
                    <p class="m-0">Avis déposé</p>
                    <i class="check bi bi-check-lg fs-1"></i>
                  </div>
                {% endif %}
                </div>
                {% endif %}
                <div class="itineraire d-flex justify-content-evenly align-items-center">
                  <div class="depart d-flex flex-column text-center">
                    <div class="fs-3 fw-bold">
                    {{ covoiturage.heureDepart|date('H:i') }}
                    </div>
                    <div class="fs-3 fw-bold">
                    {{ covoiturage.lieuDepart }}
                    </div>
                  </div>
                  <div class="w-50">
                    <svg  viewBox="0 0 400 100" class="w-100 h-auto" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                        <!-- Premier cercle -->
                        <circle cx="30" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
                        <!-- Ligne -->
                        <line x1="50" y1="50" x2="350" y2="50" stroke="#39B54E" stroke-width="2" />
                        <!-- Deuxième cercle -->
                        <circle cx="370" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
                    </svg>
                  </div>
                  <div class="arrivée d-flex flex-column text-center">
                    <div class="fs-3 fw-bold">
                    {{ covoiturage.heureArrivee|date('H:i') }}
                    </div>
                    <div class="fs-3 fw-bold">
                    {{ covoiturage.lieuArrivee }}
                    </div>
                  </div>
                  {# Covoiturage du jour sur profil connecté #}
                {% if covoiturage.conducteur is not null 
                  and covoiturage.conducteur.id == app.user.id 
                  and covoiturage.dateAujourdhui %}
                  {# Affichage bouton stop #}
                  {% if covoiturage.isGo 
                    and covoiturage.isArrived == false %}
                      <a id='carStop' data-url="{{ path('app_covoiturage_stop',{ 'id': covoiturage.id }) }}" class="btn btn-warning m-2">
                        <i class="bi bi-sign-stop"></i></a> 
                    {#  Affichage bouton check #}
                    {% elseif covoiturage.isGo  
                    and covoiturage.isArrived  %}
                        <i class="check bi bi-check-lg fs-1"></i>
                  {% endif %}
                {% endif %}
                {# <div>
                  <p>covoiturage.id : {{ covoiturage.id }}</p>
                  <p>covoiturage.conducteur.id : {{ covoiturage.conducteur.id }}</p>
                  <p>app.user.id : {{ app.user.id }}</p>
                  <p>dateFuture : {{ covoiturage.dateFuture }}</p>
                  <p>covoiturage.isArrived : {{ covoiturage.isArrived ? 'true' : 'false' }}</p>
                </div> #}
                {# Covoiturage futur sur profil connecté 
                !!!ajouter dateFuture dans les conditions #}
                {% if covoiturage.conducteur is not null 
                  and covoiturage.conducteur.id == app.user.id 
                  %}
                    <div class="boutons d-flex flex-column ">
                      <a  id="trash_{{ covoiturage.id }}" class="btn btn-danger m-2" data-url="{{ path('app_covoiturage_remove', { 'id': covoiturage.id }) }}">
                        <i class="bi bi-trash3 "></i>
                      </a>
                      <a href="{{ path('app_covoiturage_update', { 'id': covoiturage.id }) }}" class="btn btn-success m-2">
                          <i class="bi bi-pencil-square "></i>
                      </a>
                    </div>
                {% endif %}
                {#  Covoiturage prévu aujourd'hui #}
                {% if covoiturage.conducteur is not null 
                  and covoiturage.conducteur.id == app.user.id 
                  and covoiturage.dateAujourdhui 
                  and covoiturage.isGo == false %}
                  <a id='carGo' data-url="{{ path('app_covoiturage_go',{ 'id': covoiturage.id }) }}" class="btn custom-bg btn-success m-2">
                    <i class="bi bi-car-front-fill "></i>
                  </a>
                {% endif %}
                  {# sinon bouton pour annuler la participation au covoiturage #}
                {% if  covoiturage.id is not null 
                  and covoiturage.conducteur.id != app.user.id 
                  and covoiturage.dateFuture
                  and covoiturage.isGo == false  %}
                  <div class="boutons d-flex">
                    <a id='trash' class="btn btn-danger m-2" data-url="{{ path('app_covoiturage_noparticipate', { 'id': covoiturage.id }) }}">
                      <i class="bi bi-trash3 "></i>
                    </a>
                  </div>
                {% endif %}
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
  {% endblock %}
