<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>{% block title %}ECORIDE-Accueil{% endblock %}</title>
        <links rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <!-- Integration de la police Agbalumo -->
        <links rel="preconnect" href="https://fonts.googleapis.com">
        <links rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <links href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
</head>
<body class="containerHtml">
    
    <header>
        <div class="header mb-3 border-bottom">
            <div class="logo d-flex justify-content-center">
                <a href="{{ path('app_home') }}">
                <img src="{{ asset('logo/Logo.png') }}" alt="logo">
                </a>
            </div>
            <div class="navbarHeader p-1">
                <div class=" navBar d-flex flex-wrap align-items-center">
                    <div class="search d-flex align-items-center justify-content-lg-start mx-2">
                            <i  class=" bi bi-search icon-hover" alt="Position Icon" width="32" height="32"></i>
                            <a href="{{ path('app_covoiturage_recherche') }}" class="custom-links px-2">Rechercher un voyage</a>
                    </div>
                    <div class="justify-content-lg-end justify-content-around">
                        <div class="nav col-12 col-lg-auto me-lg-auto mb-2  mb-md-0">
                            <div class="d-flex align-items-center p-2">
                                <i class="bi bi-plus-circle icon-hover" alt="plus Icon" width="32" height="32" class="rounded-circle"></i> 
                                <a href="{{ path('app_covoiturage_new') }}" class="custom-links px-2">Publier un voyage</a>
                            </div>
                            <div class="d-flex align-items-center p-2">
                                <i class="bi bi-envelope icon-hover" alt="mail Icon" width="32" height="32" ></i>                               
                                <a href="#" class="custom-links px-2 ">Contact</a>
                            </div>
                            {% if app.user %}
                                {% if app.user.photoPath is not empty %}
                                <div class="d-flex align-items-center p-2">
                                    <a href="{{ path('app_profil') }}"><img class="icon-hover rounded-circle" src="{{asset('download/' ~ app.user.photoPath) }}" alt="" width="32" height="32" ></a>
                                    <a href="{{ path('app_logout') }}"  class="custom-links px-2 ">Déconnexion</a>
                                </div>
                                {% else %}
                                <div class="d-flex align-items-center p-2">
                                    <a href="{{ path('app_profil') }}"><i class="bi bi-person-circle icon-hover" alt="mail Icon" width="32" height="32"> </i></a>
                                    <a href="{{ path('app_logout') }}"  class="custom-links px-2 ">Déconnexion</a>
                                </div>
                                {% endif %}
                            {% else %}
                            <div class="d-flex align-items-center p-2">
                                <i class="bi bi-person-circle icon-hover" alt="mail Icon" width="32" height="32" ></i>
                                <a href="{{ path('app_login') }}" class="custom-links px-2 ">Se connecter</a>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>
    <main class="flex-grow-1">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        {% block body %}
        {% endblock %}
    </main>
    <footer class="mt-auto">
        <div class="footer d-flex align-items-center justify-content-between mx-3 border-bottom ">
            <div class="d-flex flex-column align-items-center gap-2">
                <a href="#" class="custom-links"> Mention legale </a>
                <p>ecoride@mail.com</p>
            </div>
            <div>
                <p class="justify-content-center">Ecoride, le covoiturage écologique </p>
            </div>
            <div class="logoFooter d-flex flex-column align-items-center gap-1">
                <img src="{{asset('logo/Logo.png')}}"; alt="logo" ; class="rounded-circle py-2">
                <p>Ecoride,2024.</p>
            </div>
        </div>  
    </footer>
    
</body>
</html>
