{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
<div>
{% if app.user %}
    <h3 class="text-center"> Bonjour {{ app.user.prenom }} {{ app.user.nom }},<span class="textRed "></span> vous êtes connecté en tant qu'<span class="textRed">Administrateur </span>. </h3>
    <br>
{% endif %}
    <div class="dashboard d-flex flex-grow-1 mb-2 ">
        <!--SideBar-->
        <div class="sidebar d-flex flex-column flex-shrink-0 " >
            <div class="d-flex align-items-center m-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4 m-2">Tableau de bord</span>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column m-2 mb-auto">
                <li class="nav-item">
                    <a href="{{ path('app_home') }}" class="nav-link text-white fs-5" aria-current="page">
                        Accueil
                    </a>
                </li>
                <li>
                    <a  href="{{ path('app_employe') }}" class="nav-link text-white fs-5 text-start">
                        Gestion des comptes employés
                    </a>
                    
                </li>
                <li>
                    <a href="{{ path('app_utilisateur') }}" class="nav-link text-white fs-5 text-start">
                        Gestion des comptes utilisateurs
                    </a>
                </li>
                <hr>
                <li>
                    <a id="chartButton"  class="nav-link text-white fs-5 text-start">
                        Nombre de covoiturage 
                    </a>
                    
                </li>
                <li>
                    <a id="chartCreditButton"  class="nav-link text-white fs-5 text-start">
                        Nombre de crédits 
                    </a>
                    
                </li>
            </ul>
        </div>
        <!-- card-->
        <div class="container ms-auto">
            <div class="dashboard-content">
                <div class="row mb-8 justify-content-evenly ">
                    <div class="col-12 mb-4 col-md-4 mb-xxl-0">
                        <div class="card admin-card bg-light shadow rounded-4 border-0">
                            <div class="card-body d-flex flex-column align-items-center p-4">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="fs-5 fw-medium text-secondary mb-3">Nombre de crédits cumulés</div>
                                    <div class="cardText fs-1 fw-bold text-success mt-4"> {{ creditscovoiturage }} <i class="bi bi-currency-exchange"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4 mb-xxl-0">
                        <div class="card admin-card bg-light shadow rounded-4 border-0">
                            <div class="card-body d-flex flex-column align-items-center p-4">
                                <form method="get" action="{{ path('app_admin_dashboard') }}" class="w-100">
                                    <label for="month" class="fs-5 fw-medium text-secondary mb-3">Nombre de covoiturages pour </label>
                                    <div class="d-flex gap-2 w-100">
                                        <select name="month" id="month" class="form-select form-select-lg rounded-pill">
                                            <option selected> </option>
                                            <option value="01" {{ month == '01' ? 'selected' : '' }}>Janvier</option>
                                            <option value="02" {{ month == '02' ? 'selected' : '' }}>Février</option>
                                            <option value="03" {{ month == '03' ? 'selected' : '' }}>Mars</option>
                                            <option value="04" {{ month == '04' ? 'selected' : '' }}>Avril</option>
                                            <option value="05" {{ month == '05' ? 'selected' : '' }}>Mai</option>
                                            <option value="06" {{ month == '06' ? 'selected' : '' }}>Juin</option>
                                            <option value="07" {{ month == '07' ? 'selected' : '' }}>Juillet</option>
                                            <option value="08" {{ month == '08' ? 'selected' : '' }}>Août</option>
                                            <option value="09" {{ month == '09' ? 'selected' : '' }}>Septembre</option>
                                            <option value="10" {{ month == '10' ? 'selected' : '' }}>Octobre</option>
                                            <option value="11" {{ month == '11' ? 'selected' : '' }}>Novembre</option>
                                            <option value="12" {{ month == '12' ? 'selected' : '' }}>Décembre</option>
                                        </select>
                                        <button class="btn btn-success px-4 py-2 rounded-pill shadow-sm" type="submit">
                                        <i class="bi bi-check-lg"></i></button>
                                    </div>
                                </form>
                                <div class="fs-1 fw-bold text-success mt-4">{{ totalMois }} <i class="bi bi-suitcase-lg"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart">
                  {#   {% for year in yearPeriod %}
                    <select>
                        <option>{{year}}</option>
                    </select>
                    {% endfor %} #}
                    <div id="chart" class="chart d-none"style="height: 500px;">
                        {{ render_chart(chart) }}
                    </div>
                    <div id="chartCredit" class="chart d-none" style="height: 500px;">
                        {{ render_chart(chartCredit) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
