{% extends 'base.html.twig' %}

{% block title %}Covoiturage en détail{% endblock %}

{% block body %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href= "{{ path('app_home') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href= "{{ path('app_covoiturage_recherche') }}">Recherche de covoiturages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Covoiturage </li>
      </ol>
    </nav>
    {# ITINERAIRE #}
    <div>
      <a class="btn btn-success mx-4" href= "{{path('app_covoiturage_recherche')}}" >Retour</a>
      <p class="text-center">Voyage prévu le <span>{{ covoiturage.dateDepart|date('d-m-Y') }}</span> à <span> {{ covoiturage.heureDepart|date('H:i') }}</span>
      au départ de <span> {{ covoiturage.lieuDepart|capitalize }}</span> .</p>
    </div>
    <div class="card container m-4 ">
      <div class="text-decoration-underline text-secondary ">
        <p>Le {{ covoiturage.dateDepart|date('d-m-Y') }}</p>
      </div>
      <div class="voyage container">
        <div class="row itineraire">
          <div class="itineraire d-flex justify-content-evenly align-items-center">
            <div class="depart d-flex flex-column text-center">
              <div class="fs-3 fw-bold">
                {{ covoiturage.heureDepart|date('H:i') }}
              </div>
              <div class="fs-3 fw-bold">
                {{ covoiturage.lieuDepart|capitalize }}
              </div>
            </div>
            <svg width="400" height="100" xmlns="http://www.w3.org/2000/svg">
              <!-- Premier cercle -->
              <circle cx="30" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
              <!-- Ligne -->
              <line x1="50" y1="50" x2="350" y2="50" stroke="#39B54E" stroke-width="2" />
              <!-- Deuxième cercle -->
              <circle cx="370" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
            </svg>
            <div class="arrivée d-flex flex-column text-center">
                <div class="fs-3 fw-bold">
                {{ covoiturage.heureArrivee|date('H:i') }}
                </div>
                <div class="fs-3 fw-bold">
                {{ covoiturage.lieuArrivee|capitalize }}
                </div>
            </div>
            {% if app.user  %}
              {% set isPassager = false %}
              {% for passager in userCovoiturage %}
                {% if passager == app.user.id %}
                  {% set isPassager = true %}
                {% endif %}
              {% endfor %}
              {% if isPassager %}
                <div class="d-flex flex-column text-center ">
                  <span class="wrap justify-content-end">Vous êtes prévu pour ce voyage .</span>
                  <i class="check bi bi-check-lg fs-1"></i>
                </div>
                {% elseif covoiturage.placeDispo >= 0 %}
              {#  <div class="participer" data-controller ="sweet_alert">
                  <button class="btn btn-success" data-action="click->sweet_alert#validButton" data-url="{{ path('app_covoiturage_participate', { 'id':covoiturage.id }) }}" id="participer">
                  Participer</button>
                </div> #}
                <div class="participer" data-controller="sweet-alert">
                  <button 
                      class="btn btn-success"
                      data-action="click->sweet-alert#validButton"
                      {# data-url="{{ path('app_covoiturage_participate', { 'id': covoiturage.id }) }}" #}
                      data-url="{{ path('app_send_email_reservation', { 'id': covoiturage.id }) }}"
                      id="participer">
                      Participer
                  </button>
                </div>
              {% endif %}
            {% else %}
              <div >
                <a class="btn btn-success" href="{{ path('app_login') }}" >
                Pour participer, <br>veuillez vous connecter</a>
              </div>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>

    {# Detail conducteur #}
    <div class="profil card container m-4 " >
      <div class="card-header row justify-content-evenly align-items-center">
        <div class="col-2">
          <img src="{{ vich_uploader_asset(conducteur, 'imageFile') }}" class="avatar rounded-circle" alt="...">
        </div>
        <div class="col-6 text-center">
          <h3 class="card-title text-center">Conducteur:</h3>
          <h3 class="card-text text-center">{{conducteur.prenom|capitalize}}</h3>
        </div>
      </div>
      <!-- body -->
      <div class="card-body">
        <div class="row justify-content-around ">
          <div class="infoUser col-6" >
            <ul>
              <li>Membre depuis {{ conducteur.createdAt | date ('Y')}} </li>
              {# <li>
                <i class="bi bi-star-fill star"> {{conducteur.rateUser}}/5</i>
              </li> #}
              <br>
              {% if voiture is empty %}
                <li>Pas de véhicule enregistré.</li>
                {% else %}
                    <p class="text-decoration-underline">Voiture utilisée:</p>
                    <li>{{ voiture.constructeur|capitalize }} {{ voiture.modele|capitalize }}</li>
                    <li>Immatriculée: {{voiture.immat }} </li>
                    <li>Date de 1ère mise en circulation: {{voiture.firstImmat|date('d-m-Y') }} </li>
                    <li>Energie: {{ voiture.energie|capitalize }} </li>
                    <div  class="d-flex align-items-center">
                      <li class="m-0">Trajet écologique:</li>
                      {% if voiture.energie == 'Electrique' %}
                          <div class="form-check form-switch mx-4 ">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"  checked disabled>
                              <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                          </div>  
                          {% else %}
                          <div class="form-check form-switch mx-4 ">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"  disabled>
                              <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                          </div> 
                      {% endif %}</div>
                    {# <li>Place disponible: {{ voiture.nbrePlace }} </li> #}
                    <hr>
              {% endif %}
            </ul>
            {% if observations is not empty %}
              <p class="text-center text-decoration-underline">Autres commentaires :</p>
              {% for observation in observations %}
                  <p class="text-start">{{ observation|capitalize }}</p>
              {% endfor %}
            {% else %}
                <p>Aucune observation enregistrée pour ce conducteur.</p>
            {% endif %}
          </div>
          <div class="commentaires col-6">
            {% if commentaires is empty %}
              <p>Il n'y a pas d'avis.</p>
              {% else %}
              <h4 class="text-decoration-underline text-center"> Derniers avis clients:</h4>
              {% for commentaire in commentaires %}
              <div class="card commentaire mb-3 p-3">
                <div class="rate">
                  <i class="bi bi-star-fill star"> {{ commentaire.rateComments }}/5</i>
                </div>
                <div class="text-secondary fs-7">Le {{ commentaire.createdAt|date('d-m-Y') }}
                </div>
                <div>
                  <p>{{ commentaire.comments|capitalize }}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}