{% extends 'base.html.twig' %}

{% block title %}Les covoiturages{% endblock %}

{% block body %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href= "{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste des covoiturages</li>
        </ol>
    </nav>
<!--Barre de recherche -->
    <h4 class="text-center">Rechercher un voyage</h4>
    <form method="get" action="{{ path('app_covoiturage_recherche') }}" class="d-flex bg-body-tertiary justify-content-between justify-content-md-evenly align-items-center flex-wrap mb-4">
        <div>
            <div class="d-flex align-items-center p-2 mb-2 "role="search" aria-label="date">
                <i class="bi bi-calendar-event icon-hover px-2"></i>
                <input name="date" type="date" class="form-control" placeholder="Date" aria-label="date">
            </div >
            <div class=" d-flex align-items-center p-2 mb-2 " role="search" action="submit" aria-label="depart">
                <i class="bi bi-geo-alt icon-hover px-2"></i>
                <input name="depart"type="search" class="form-control" placeholder="Ville de départ" aria-label="depart">
            </div>
            <div class="d-flex align-items-center p-2 mb-2" role="search" aria-label="arrivee">
                <i class="bi bi-geo-alt icon-hover px-2"></i>
                <input name="arrivee" type="search" class="form-control" placeholder="Ville d'arrivée" aria-label="arrivee" >
            </div>
            <div class="d-flex align-items-center p-2 mb-2 " role="search"  aria-label="prix" >
                <i class="bi bi-currency-euro icon-hover px-2"></i>
                <input name="prix" type="search" class="form-control" placeholder="Prix max" aria-label="prix max">
            </div>
        </div>
        <br>
        <div>
            <p class="text-center">Recherche supplémentaire :</p>
            <div class="d-flex align-items-center p-2 mb-2 " role="search"  aria-label="Note_minimale" >
                <i class="bi bi-star-half icon-hover px-2"></i>
                <input name="rate" type="search" class="form-control" placeholder="Note minimale" aria-label="Note_minimale">
            </div>
            <div class="d-flex align-items-center p-2 mb-2 " role="search"  aria-label="dureeMax" >
                <i class="bi bi-clock-history icon-hover px-2"></i>
                <input name="dureeMax" type="number" class="form-control" placeholder="Durée max en heure" aria-label="dureeMax">
            </div>
        </div>
            <button type="submit" name = "valid" class="btn p-0 mx-3">
            <i class="bi bi-search icon-hover "></i></button>
    </form>
{% if submit %}
        {% if notCovoiturages %}
        <div>
            <p class="text-center fs-5 ms-4">Il n'y a pas de covoiturage avec les critères saisies,<br>
            Voici les covoiturages disponibles à compter du <span>{{ dateDepart|date('d-m-Y') }}</span>  :</p>
        {% else %}
            <p class="text-center fs-5 ms-4">Voici les covoiturages disponibles à compter du <span>{{ dateDepart|date('d-m-Y') }}</span>  :</p>
        {% endif %}
        </div>
    <div class="container-fluid">
        <div class="cards row  m-3 d-flex justify-content-evenly">

            {% for key, covoiturage in pagination %}
                {% set conducteur = conducteurs[key] %}
                {% set avisExiste = avisExistants[key] %}
                {% set voiture = voitures[key] %}
                {% if covoiturage.placeDispo > 0 
                and (app.user is null or conducteur.id != app.user.id)  %} 
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <div class="conducteur d-flex flex-column align-items-center">
                            <p class="m-1">Conducteur:</p>
                            {% if conducteur.imageName is empty%}
                            <a href="{{ path('app_profil_id', {'id': conducteur.id}) }}"><img class="icon-hover rounded-circle" src="{{ asset('logo/Logo.png') }}" alt="logo" width="80" height="80" > </i></a>
                            {% else %}
                            <a href="{{ path('app_profil_id', {'id': conducteur.id}) }}"><img class="icon-hover rounded-circle" src="{{ vich_uploader_asset(conducteur, 'imageFile') }}" alt="logo" width="80" height="80" ></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                            <p>Membre depuis <strong>{{ conducteur.createdAt | date ('Y')}}</strong> </p>
                            {% if avisExiste == true %}
                            <p><i class="bi bi-star-fill star">  {{ covoiturage.rate }}/5</i></p>
                            {% else %}
                            <p> Il n'y a pas d'avis déposé.</p>
                            {% endif %}
                            <div>
                                <p>Départ le : {{ covoiturage.dateDepart|date('d-m-Y') }}</p>
                            </div>
                            <div class="itineraire d-flex justify-content-evenly align-items-center">
                                <div class="depart text-center">
                                    <div class="fs-5 fw-bold">
                                        {{ covoiturage.heureDepart|date('H:i') }}
                                    </div>
                                    <div class="fs-6 fw-bold">
                                        {{ covoiturage.lieuDepart|capitalize }}
                                    </div>
                                </div>
                                <div class="w-50">
                                    <svg  viewBox="0 0 400 100" class="w-100 h-auto" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                                        <!-- Premier cercle -->
                                        <circle cx="30" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
                                        <!-- Ligne -->
                                        <line x1="50" y1="50" x2="350" y2="50" stroke="#39B54E" stroke-width="2" />
                                        <!-- Deuxième cercle -->
                                        <circle cx="370" cy="50" r="20" stroke="#324D4D" fill="#FFFFFF" />
                                    </svg>
                                </div>
                                <div class="arrivée text-center">
                                    <div class="fs-5 fw-bold">
                                    {{ covoiturage.heureArrivee|date('H:i') }}
                                    </div>
                                    <div class="fs-6 fw-bold">
                                    {{ covoiturage.lieuArrivee|capitalize }}
                                    </div>
                                </div>
                            </div>
                            <p>Place disponible:<strong> {{ covoiturage.placeDispo}}</strong> </p>
                            <p>Prix:<strong> {{ covoiturage.prix}} € </strong></p>
                            <div  class="d-flex align-items-center">
                                <span>Trajet écologique: {{voiture.energie|capitalize}} </span>
                                {% if voiture.energie == 'Electrique' %}
                                <div class="form-check form-switch m-4 ">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"  checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>  
                                {% else %}
                                <div class="form-check form-switch m-4 ">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"  disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div> 
                                {% endif %}
                            </div>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-success " href="{{ path('app_covoiturage_id', {id: covoiturage.id}) }}" >
                        Détail</a>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
   {#  <div class="d-flex justify-content-center">
        <button class="btn btn-success m-2 " id="voirPlus"> Voir Plus </button>
    </div> #}
{% endif %}
</div>
<div class="navigation mt-4 d-flex justify-content-center">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
