{% extends 'base.html.twig' %}

{% block title %}Création de voyage{% endblock %}

{% block body %}
<div class="container-fluid p-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href= "{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Création d'un voyage </li>
        </ol>
        </nav>
    <h1 class="text-center p-4">Création de covoiturage</h1>
    <div class="form-group w-75 w-md-50 m-auto">

        {{ form_errors(form) }}
        
        {{ form_start(form) }}

        {{ form_row(form.dateDepart, {
            'label': 'Date de départ',
            'attr': {'class': 'form-control'}
        }) }}

        {{ form_row(form.lieuDepart, {
            'label': 'Lieu de départ',
            'attr': {'class': 'form-control'}
        }) }}

        {{ form_row(form.heureDepart, {
            'label': 'Heure de départ',
            'attr': {'class': 'form-control'}
        }) }}

        {{ form_row(form.lieuArrivee, {
            'label': 'Lieu d\'arrivée',
            'attr': {'class': 'form-control'}
        }) }}

        {{ form_row(form.heureArrivee, {
            'label': 'Heure d\'arrivée',
            'attr': {'class': 'form-control'}
        }) }}

        {{ form_row(form.placeDispo,{
        'label' : 'Place disponible',
        'attr' : {'class': 'form-control'}
        }) }}

        {{ form_row(form.voitureId, {
        'attr': {'class': 'form-control'},
        }) }}
        <div class="text-center mb-4">
        <a href="{{ path('app_voiture_new') }}" class="">Ajouter une voiture</a>
        </div>
        {{ form_row(form.prix,{
        'label' : 'Prix par personne',
        'attr' : {'class': 'form-control'}
        }) }}
        <div class="d-flex justify-content-evenly">
            <button type="submit" class="btn btn-success ">Enregistrer</button>
        {{ form_end(form) }}
            <a href="{{ path('app_profil') }}" class="btn btn-success">Retour</a>
        </div>
    </div>
    
</div>

{% endblock %}
